<form class="create-post-form">
  <h2>Create a New Post</h2>
  <div class="form-wrapper">
  <form id="create-post-form">
    <div class="form-group">
      <label for="post-title">Title</label>
      <input type="text" id="post-title" name="title" required>
    </div>
    <div class="form-group">
      <label for="author-name">Your <br>Name</label>
      <input type="text" id="author-name" name="name" required>
    </div>
    <div class="form-group">
      <label for="post-body">Content</label>
      <textarea id="post-body" name="body" required></textarea>
    </div>
    <div class="button-wrap">
    <button type="submit" class="btn btn-primary">Create Post</button>
    </div>
  </form>
  </div>
</form>



<script src="js/create-post.js"></script>
